<li class="shows-list-item">
  <span class="title col-md-4"><%= show.title %></span>
  <span class="showtime col-md-4"><%= show.start_time.strftime("%I:%M%P")  %> - <%= show.end_time.strftime("%I:%M%P")  %></span>
  <span class="channel col-md-3">Channel <%= show.channel %></span>
  <%= link_to show_delete_record_path(:show_id => show.id) do %>
    <i class="fa fa-times"></i>
    <span>Cancel</span>
  <% end %>
</li>