<section class="my-dvr-boxes container">
  <h1 class="recordings-header">My Current Recordings</h1>
  <%= link_to "All shows", shows_url, :class => "all-shows"  %>

  <div class="first-box">
    <h3>DVR Box 1</h3>
    <ul class="shows-list">
      <% @box_1_shows.each do |show| %>
      <li class="shows-list-item">
        <span class="title col-md-4"><%= show.title %></span>
        <span class="showtime col-md-4"><%= show.start_time.strftime("%I:%M%P")  %> - 
        <%= show.end_time.strftime("%I:%M%P")  %></span>
        Channel <%= show.channel %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="second-box">
    <h3>DVR Box 2</h3>
    <ul class="shows-list">
    <% @box_2_shows.each do |show| %>
      <li class="shows-list-item">
        <span class="title col-md-4"><%= show.title %></span>
        <span class="showtime col-md-4"><%= show.start_time.strftime("%I:%M%P")  %> -
        <%= show.end_time.strftime("%I:%M%P") %></span>
        Channel <%= show.channel %>
        <% end %>
      </li>
    </ul>
  </div>
  
</section>
