<section class="container">
  <p class="back-to-openings-button">
    <%= link_to "&#8592; Back to current recordings".html_safe, dvr_systems_path %>
  </p>
  <div class="all-shows">
    <ul class="show-cards">
      <% @shows.each do |show| %>
        <li class="show col-md-4 col-md-offset-1">
          <span class="show-title"><%= show.title %></span>
          <span class="show-channel">Channel <%= show.channel %></span>
          <span class="show-time"><%= show.start_time.strftime("%I:%M%P") %> -
          <%= show.end_time.strftime("%I:%M%P") %></span>
          <span class="minutes-long"><%= (show.end_time.to_i - show.start_time.to_i)/60 %> minutes</span>
          <% if show.recording == false %>
            <div class="not-currently-recording">
              <%= form_for show, :url => show_record_path(:show_id => show.id), method: :post do |f| %>
                <%= f.select :box_id, Box.all.collect { |p| [ p.box_number, p.id ] }, {}, class: "show-radio-button", id: "show_box_id_#{show.id}", :include_blank => true %>
                <%#= f.radio_button :box_id, Box.first.id, class: "show-radio-button" %>
                <%#= f.label :box_id, 'Box 1', :value => Box.first.id %>
                <%#= f.radio_button :box_id, Box.last.id, class: "show-radio-button" %>
                <%#= f.label :box_id, 'Box 2', :value => Box.last.id %>
                <%= f.submit "Record", data: { disable_with: "Please wait.." }, :disabled => true, class: "record-button" %>
              <% end %>
            </div>
          <% else %>
            <div class="currently-recording">
              Recording on Box <%= show.box.box_number %>
              <%= link_to "Cancel", show_delete_record_path(:show_id => show.id), data: { disable_with: "Cancelling.." }, class: "cancel-record-button" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</section>