<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DVR" %></title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dvr" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @home_page ? 'homepage' : ''%>">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
      <main>
      <%#= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
